@model List<ManagementSystem.Api.Models.ViewModels.Task.TaskListViewModel>

@{
}

<div class="container-list">
    @foreach (var task in Model)
    {
        await Html.RenderPartialAsync("~/Views/Task/_TaskItems.cshtml", task);
    }
</div>