@model ManagementSystem.Api.Models.ViewModels.Task.TaskListSelectedTaskViewModel

<div class="col-md-12">
    <div class="row">
        @Html.HiddenFor(e => e.Id)
        <div class="col-6">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Project" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.Project
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Sprint" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.Sprint
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" disabled="disabled"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        @await Component.InvokeAsync("MessageList", new { taskId = Model.Id })
        @await Component.InvokeAsync("MessageSave", new { taskId = Model.Id })
    </div>
</div>