@model ManagementSystem.Api.Models.ViewModels.Task.TaskListViewModel



<div style="display: flex; justify-content: space-between;">
    <div>
        @Model.Id
    </div>
    <div class="name">
        @Model.Name
    </div>
    <div>
        <a class="btn btn-info edit-task" data-id="@Model.Id">
            <i class="glyphicon glyphicon-pencil"></i>Edit
        </a>
        <a class="btn btn-primary add-task" data-id="@Model.Id">
            <i class="glyphicon glyphicon-pencil"></i>Add
        </a>
    </div>
</div>



@if (Model.Children.Any())
{
    @foreach (var childTask in Model.Children)
    {
        await Html.RenderPartialAsync("_TaskItems", childTask);
    }
}