
<div>
    <div>
        <button type="button" class="btn btn-primary edit-task" data-toggle="modal" data-target="#saveTaskModal">Insert</button>
    </div>
    <div id="tasklist">
        @await Component.InvokeAsync("TaskList")
    </div>
    @{await Html.RenderPartialAsync("_Modal");}    
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/task/task.service.js"></script>
}