@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveTaskModal">Insert</button>

    </div>
    <div id="tasklist">
        @await Component.InvokeAsync("TaskList")
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>




@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/util/model.service.js"></script>
    <script src="~/js/util/validation.service.js"></script>
    <script src="~/js/task/task.service.js"></script>

}